@model IEnumerable<CustomerUser>

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th>Email</th>
            <th>Listings</th>
            <th>Bookings</th>
            <th>Actions</th>
        </tr>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Email</td>
                <td>
                    @if (@customer.Items != null)
                    {
                        
                            <p>@string.Join(", ", @customer.Items.Select(item => item.Name))</p>
                    }
                </td>
                <td>
                    @*@if (@customer.Bookings != null)
                    {
                        <p>@string.Join(", ", @customer.Bookings.Select(booking => $"Booking{booking.BookingId}"))</p>
                    }*@

                    <p>
                        @foreach (var item in customer.Items)
                        {
                            <a asp-controller="Item" asp-action="Details" asp-route-id="@item.ItemId">@item.Name</a>
                            @if (!item.Equals(customer.Items.Last()))
                            {@:", "; }
                        }
                    </p>

                </td>
                <td></td>
            </tr>
        }
    </table>
</div>