@model Item

<h3 class="my-5">
    @Model.Name
</h3>

<div class="row gx-5">
    <img alt="@Model.Name" src="@Model.ImageUrl" class="img-fluid col-5" style="height: 300px; object-fit: contain" />
    <div class="col-7">
        <p>@Model.Description</p>
        <h3 class="pull-right">@Model.Price.ToString("0 NOK per night")</h3>
        <p>@Model.Address<br />
            Phone number: @Model.Phone<br />
            Rooms: @Model.Rooms<br />
            Beds: @Model.Beds</p>
        <p><a href="/Item/Table">Back to Table View</a></p>
        <p><a href="/Item/Grid">Back to Grid View</a></p>

        <form asp-controller="Booking" asp-action="CreateBooking">
            @*Flatpickr Date Picker stuff from https://flatpickr.js.org/examples/#range-calendar *@
            <div class="form-group">
                <p><input type="text" name="bookingDate" placeholder="Select Date.." id="datePicker" data-date-format="Y-m-d"></p>
            </div>
            <div class="form-group">
                <input type="hidden" name="itemId" value="@Model.ItemId" />
            </div>
            <button type="submit" class="btn btn-primary">Book Stay</button>
        </form>
    </div>
</div>

@*Flatpickr Date Picker stuff from https://flatpickr.js.org/examples/#range-calendar *@
<script>
    var notFormattedDates = @Html.Raw(Json.Serialize(Model.Bookings));

    // Dummy date, because the calendar doesn't want to accept an empty list
    var Bookings = ["1999-12-12"];

    // Loop through the notFormattedDates, format them, add to Bookings
    for (var i = 0; i < notFormattedDates.length; i++) {
        var date = notFormattedDates[i].bookingDate.split("T")[0];
        Bookings.push(date);
    }

    const datePicker = flatpickr("#datePicker", {
        // Configure options here
        // inline: true,
        // mode: "range",
        minDate: "today",
        dateFormat: "Y-m-d",
        disable: Bookings,
    });
</script>