@model Item

<h3 class="my-5 text">
    @Model.Name
</h3>

<div class="row gx-5 justify-content-center">
    @if (string.IsNullOrEmpty(Model.ImageUrl2) && string.IsNullOrEmpty(Model.ImageUrl3))
    {
        // Only the main image exists, center it
        <div class="col-12 text-center text">
            <img alt="@Model.Name" src="@Model.ImageUrl" class="img-fluid mb-3" style="width: 50vw; object-fit: contain" />
        </div>
    }
    else
    {
        // All three images exist, left align the main image, and stack the other two on the right
        <div class="col-md-6 text-center text">
            <img alt="@Model.Name" src="@Model.ImageUrl" class="img-fluid mb-3" style="width: 50vw; object-fit: contain" />
        </div>
        <div class="col-md-6">
            <img alt="@Model.Name" src="@Model.ImageUrl2" class="img-fluid mb-3" style="height: 25vw; object-fit: contain" />
            <img alt="@Model.Name" src="@Model.ImageUrl3" class="img-fluid mb-3" style="height: 25vw; object-fit: contain" />
        </div>
    }
        <div class="col-12 text-center text">
            <p>@Model.Description</p>
        </div>
        <div class="col-md-6 left-text text">
            <p>Guests: @Model.Guests <br/>
            Bedrooms: @Model.Rooms<br />
            Beds: @Model.Beds<br />
            Baths: @Model.Baths <br/>
            <br/>
            Phone number: @Model.Phone <br />
            Address: @Model.Address</p>
        </div>
        <div class="col-md-6 d-flex justify-content-end right-box text">
            <div class="border p-4 box" style="display: inline-block;">
                <h3>@Model.Price.ToString("0 NOK per night")</h3>

                <form asp-controller="Booking" asp-action="CreateBooking">
                    @*Flatpickr Date Picker stuff from https://flatpickr.js.org/examples/#range-calendar *@
                    <div class="form-group text">
                        <p><input type="text" name="bookingDate" placeholder="Select Date.." id="datePicker" data-date-format="Y-m-d"></p>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="itemId" value="@Model.ItemId" />
                    </div>
                    <button type="submit" class="btn btn-primary">Book Stay</button>
                </form>
            </div>
        </div>
</div>

@*Flatpickr Date Picker stuff from https://flatpickr.js.org/examples/#range-calendar *@
<script>
    var notFormattedDates = @Html.Raw(Json.Serialize(Model.Bookings));

    // Dummy date, because the calendar doesn't want to accept an empty list
    var Bookings = ["1999-12-12"];

    // Loop through the notFormattedDates, format them, add to Bookings
    for (var i = 0; i < notFormattedDates.length; i++) {
        var date = notFormattedDates[i].bookingDate.split("T")[0];
        Bookings.push(date);
    }

    const datePicker = flatpickr("#datePicker", {
        // Configure options here
        // inline: true,
        // mode: "range",
        minDate: "today",
        dateFormat: "Y-m-d",
        disable: Bookings,
    });
</script>